/* Reset styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Перерасчёт ширины контентной области */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Обводка элементов для некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
header,
footer,
nav {
  display: block;
}
/* Уравнивание шрифтов и элементов для различных браузеров + запрещение самовольного увеличения шрифта на iphone */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  /* font-size: 100%; */
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}
/* Наследование семейства шрифтов для тегов форм */
input,
button,
textarea {
  font-family: inherit;
}
/* Убираем различные особенности для браузеров */
input::-ms-clear {
  display: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  text-decoration: none;
  list-style: none;
}
img {
  vertical-align: top;
}

body {
  background: #f6f6f6;
}
a {
  text-decoration: none;
  color: inherit;
}
