@import url(reset.css); /* Файл сброса стилей */
@import url(../fonts/HelveticaNeueCyr/stylesheet.css); /* Подключение шрифтов */

/* Общие настройки */

.container {
  display: flex;
  max-width: 1376px;
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: "HelveticaNeueCyr";
}

/* Header */
.header {
  background: #2d2f2f;
  color: #f6f6f6;
  height: 70px;
}

.header__container {
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.header__link,
.header .logo {
  height: inherit;
}

.header .logo {
  padding: 7px 0;
}

.logo_min {
  display: none;
}

.header__title {
  font-size: 21px;
}
/* Настройки для модального окна */

.btn-modal {
  width: 100%;
  border: none;
  background: #f6f6f6;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  position: unset;
  background-color: #fff;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

/* disciplines */

.disciplines {
  background: #f6f6f6;
  text-align: center;
  color: #2d2f2f;
}

.disciplines__title {
  font-size: 20px;
  margin: 25px 0 30px 0;
}

/* semestr  */

.semestr {
  margin-right: 10px;
}

.semestr:last-child {
  margin-right: 0;
}

.semestr__title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.semestr__item {
  border: 1px solid #2d2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* data-length */

li[data-length="2"] {
  height: 50px;
  /* margin-top: 2.5px; */
}

li[data-length="3"] {
  height: 75px;
  /* margin-top: 3.75px; */
}

li[data-length="4"] {
  height: 100px;
  /* margin-top: 5px; */
}

li[data-length="8"] {
  height: 200px;
  /* margin-top: 10px; */
}

li[data-length="9"] {
  height: 225px;
  /* margin-top: 11.25px; */
}
