@import url(reset.css); /* Файл сброса стилей */
@import url(../fonts/HelveticaNeueCyr/stylesheet.css); /* Подключение шрифтов */

/* Общие настройки */

.container {
  display: flex;
  max-width: 1376px;
  margin: 0 auto;
  width: 100%;
}

.container-wrap {
  flex-wrap: wrap;
}

body {
  font-family: "HelveticaNeueCyr";
}

/* Header */
.header {
  background: #2d2f2f;
  color: #f6f6f6;
  height: 70px;
}

.header__container {
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.header__link,
.header .logo {
  height: inherit;
}

.header .logo {
  padding: 7px 0;
}

.logo_min {
  display: none;
}

.header__title {
  font-size: 21px;
  font-weight: 500;
}

.menu {
  font-size: 0;
}

.menu > * {
  display: inline-block;
}

.menu h2 {
  margin-right: 5px;
}

.menu__link {
  font-size: initial;
  font-weight: 400;
  border-left: 2px solid #f6f6f6;
  padding-left: 5px;
  transition: all 0.2s ease-in;
}

.menu__link:hover,
.menu__link:active {
  text-shadow: 0 0 0.65px #f3f3eb, 0 0 0.65px #f3f3eb;
}

/* Настройки для модального окна */

.btn-modal {
  width: 100%;
  border: none;
  background: #f6f6f6;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  /* sizing */
  max-width: 500px;
  max-height: 500px;
  padding: 30px 20px;
  border-radius: 15px;
  /*  */
  background-color: #f6f6f6;
  display: none;
  /*  */
  text-align: left;
  line-height: 1.4;
  font-size: 16px;
}

.modal > * {
  padding-bottom: 20px;
}

.modal b {
  margin-right: 5px;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

/* disciplines */

.disciplines {
  background: #f6f6f6;
  text-align: center;
  color: #2d2f2f;
  padding: 25px 0 0 0;
}

.disciplines__title {
  font-size: 20px;
  margin: 0 0 30px 0;
}

.disciplines__card {
  background-color: #2d2f2f;
  height: 100px;
  width: calc(100% / 3 - 10px);
  margin: 0 15px 15px 0;
  border-radius: 15px;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.disciplines__card:hover,
.disciplines__card:active {
  font-weight: bold;
}

.disciplines__card:nth-child(4n + 2) {
  background-color: #349d9d;
}

.disciplines__card:nth-child(4n + 3) {
  background-color: #35349d;
}

.disciplines__card:nth-child(4n + 4) {
  background-color: #349d65;
}

.disciplines__card:nth-child(3n + 3) {
  margin-right: 0;
}

/* semestr  */

.semestr {
  margin-right: 10px;
}

.semestr:last-of-type {
  margin-right: 0;
}

.semestr__title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.semestr__item {
  border: 1px solid #2d2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}

/* data-length */

li[data-length="2"] {
  height: 50px;
  /* margin-top: 2.5px; */
}

li[data-length="3"] {
  height: 75px;
  /* margin-top: 3.75px; */
}

li[data-length="4"] {
  height: 100px;
  /* margin-top: 5px; */
}

li[data-length="8"] {
  height: 200px;
  /* margin-top: 10px; */
}

li[data-length="9"] {
  height: 225px;
  /* margin-top: 11.25px; */
}
