* {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-style: normal;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5c5b5b;
}
body {
  background: #f6f6f6;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  padding: 10px 12px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ececec;
  line-height: 1.5rem;
  color: #444444;
  font-size: 1rem;
}
/*
    HEADER
 */
header {
  background: #2d2f2f;
  height: 70px;
}
header * {
  color: #ffffff;
}
.header-container {
  display: flex;
  max-width: 1360px;
  justify-content: space-around;
  margin: 0 auto;
  height: 70px;
  align-items: center;
}
.logo {
  max-height: 55px;
}

header h2 {
  font-size: 22px;
  margin: 0;
}
/*
    Main
 */
.main-content .post {
  margin-bottom: 30px;
}
.main-content .post_text {
  background: #ffffff;
  padding: 8px;
  border-radius: 3px;
}
.main-content .post_text h3 {
  margin: 14px 0;
}
.main-content .post_text h3 a:hover {
  text-decoration: underline;
  color: #5c5b5b;
}
.main-content .post_text i {
  margin: 0px 14px 14px 0;
}

.post-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.post-item {
  max-width: 200px;

  border: 1px solid #2d2f2f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 72px;
  height: 100%;
}

.post-item :first-child {
  margin-left: 0px;
}

.btn-modal {
  max-width: 222px;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background: #f6f6f6;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  position: unset;
  background-color: #fff;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.sem {
  display: flex;
  flex-direction: column;
}
/* */

.main-content-test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1360px;
  width: 100%;
  margin: 20px auto;
}

.list-sem {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.list-sem:nth-last-child(1) {
  padding-right: 0;
}

.content-heading {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 20px 0;
}

.main-discp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sem-heading {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.sem-item {
  background-color: rgb(219, 219, 219);
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 5px;
  align-items: center;
  font-size: 15px;
  line-height: 1.5;
  padding: 8px;
}
